BeautifulSoup==3.2.1
Delorean==0.4.4
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.1
Werkzeug==0.9.6
ack==0.1
argparse==1.2.1
beautifulsoup4==4.3.2
birdy==0.2
click==3.3
cssselect==0.9.1
distribute==0.6.24
itsdangerous==0.24
lxml==3.4.0
newspaper==0.0.7
nltk==3.0.0
numpy==1.9.1
oauthlib==0.7.1
pymongo==2.7.2
python-dateutil==2.2
pytz==2014.9
requests==2.4.3
requests-oauthlib==0.4.2
six==1.8.0
wsgiref==0.1.2
